OPENAI_API_KEY=
ANTHROPIC_API_KEY=
GOOGLE_API_KEY=
TAVILY_API_KEY=
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=
LANGSMITH_TRACING=

# Only necessary for Open Agent Platform
SUPABASE_KEY=
SUPABASE_URL=
# Should be set to true for a production deployment on Open Agent Platform. Should be set to false otherwise, such as for local development.
GET_API_KEYS_FROM_CONFIG=false

OPENAI_API_KEY=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
ANTHROPIC_API_KEY=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
TAVILY_API_KEY=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
GROQ_API_KEY=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
PERPLEXITY_API_KEY=xxx
LINKUP_API_KEY=xxx